<span defaultOverlayTarget></span>
<div class="syllables-container container">
    <div class="row">
        <div class="col-xs-12 heading-section">
            <h1>Text to syllables converter</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a (click)="openSettingsModal()">Configure</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <label>Input</label>
            <textarea class="form-control textarea"></textarea>
        </div>
        <div class="col-xs-4">
            <label>Syllables</label>
            <textarea class="form-control textarea"></textarea>
        </div>
        <div class="col-xs-4">
            <label>CVV</label>
            <textarea class="form-control textarea"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 bottom-section">
            <button type="button" class="btn btn-primary">Convert</button>
        </div>
    </div>
</div>